<form [formGroup]="entrarForm">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="entrarForm.get('username')?.invalid">Nome de usuário inválido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="senha" type="password" required>
    <mat-error *ngIf="entrarForm.get('senha')?.invalid">Senha obrigatória</mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" class="submit-button" [disabled]="entrarForm.invalid" (click)="fazerLogin()">Entrar</button>
</form>
