
  
.form-background {
    background-color: rgb(235, 234, 235);
    width: 55%;
    height: 25rem;
    justify-content: center;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    justify-items: auto;
}

.form-title {
    width: 13rem;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 0.3rem;
    background-color: (235, 234, 235)
}

.forgot-password {
    margin-top: 5rem;
}

.submit-button {
    display: flex; /* Habilita o uso de alinhamento flex */
    align-items: center; /* Alinha o texto verticalmente no centro */
    justify-content: center; /* Alinha o texto horizontalmente no centro */
    margin-left: 1rem;
    margin-top: 6.5rem;
    padding: 1rem 2rem; /* Ajusta o espaçamento interno para ter um botão consistente */
    text-align: center; /* Apenas uma medida extra para centralização */
}

