<mat-drawer-container class="container" autosize>
  <!-- Menu lateral -->
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/home">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="/perfil">
        <i class="material-icons">account_circle</i>
        Perfil
      </a>
      <a mat-list-item routerLink="/cadastro">
        <i class="material-icons">person_add</i>
        Cadastrar-se
      </a>
      <a mat-list-item routerLink="/settings">
        <i class="material-icons">settings</i>
        Configurações
      </a>
    </mat-nav-list>

    <button mat-button (click)="toggleTheme()" class="theme-toggle">
      <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
      Mudar Tema
    </button>
  </mat-drawer>

  <!-- Conteúdo principal -->
  <div class="sidenav-content">
    <!-- Botão para abrir/fechar o menu -->
    <button
      type="button"
      mat-mini-fab
      (click)="toggleDrawer()"
      class="menu mat-elevation-z8"
      aria-label="Abrir menu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Rotas dinâmicas -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
