/* Importação do tema do Angular Material */
@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Estilos globais */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f7fa; /* Define o fundo claro */
}

/* Estilos para elementos da interface */
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: blue !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lightblue !important;
}

/* Estilo para garantir que o fundo da página esteja claro e consistente */
body {
  background-color: #f4f7fa !important; /* Corrige o fundo caso esteja sendo sobrescrito */
}
